.no-light-bg {
  background-image: url("../img/game-light-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding: 0;
}

.bet {
  background-image: url("../img/mobile-bet/bet-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 40px 15%;
}

.bet .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bet h2 {
  color: #3e97f1;
  font-size: 2.5em;
  line-height: 1.5;
}

.bet .b-img {
  padding-right: 20px;
  padding-top: 45px;
}

@media (max-width: 991px) {
  .bet .b-img {
    margin-top: 0;
  }
}

.bet .qrcode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bet .qrcode > div:nth-child(1) {
  margin-right: 15px;
}

.bet .qrcode .img {
  margin-bottom: 5px;
}

.bet .qrcode img {
  height: 130px;
  width: inherit;
  border: 5px solid #608abc;
}

.bet .qrcode span {
  color: #fbe87b;
  margin-right: 3px;
}

.bet .qrcode p {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .bet {
    padding: 15px 20px;
  }
  .bet h2 {
    font-size: 1.7em;
  }
}

@media (max-width: 767px) {
  .bet .b-img {
    display: none;
  }
  .bet .txt {
    text-align: center;
  }
  .bet .qrcode {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bet .qrcode img {
    height: 100px;
  }
}
