/*
	normal.scss - a CSS normalizer (cf. CSS reset).
	
	Provides a normalized environment for new designs and nice defaults for
	styling simple documents.

	Author: Miikka Koskinen <miikka.koskinen@iki.fi>
*/
/* Box model reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Text styling */
body {
  font-size: 1em;
  font-family: "Palatino", "Palatino Linotype", "Georgia", serif;
}

h1, h2, h3 {
  font-weight: normal;
  margin-bottom: 0;
}

p, ul, ol, blockquote, pre {
  margin-bottom: 1.4em;
}

/* vim: set ts=4 sw=4 noet: */
body {
  font-family: 'Microsoft JhengHei', 'Lato', 'Arial', sans-serif;
  font-size: 15px;
  color: #222;
  background-repeat: no-repeat;
  letter-spacing: 0.5px;
}

body.scroll .navbar {
  padding-top: 5px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}

.show-mb {
  display: none;
}

@media (max-width: 767px) {
  .show-mb {
    display: block;
  }
}

@media (max-width: 767px) {
  .show-pc {
    display: none;
  }
}

a {
  color: #222;
}

a:hover {
  color: #009fdb;
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-link {
  color: #009fdb;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}

.title-main {
  margin-bottom: 30px;
  font-size: 2.2em;
  font-weight: bold;
}

.title-main span {
  display: inline-block;
  padding: 0 25px 15px;
  border-bottom: 1px solid #b8b8b8;
  position: relative;
}

.title-sub {
  color: #012f40;
  font-size: 22px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.title-sub img {
  margin-right: 5px;
}

@media (max-width: 767px) {
  .title-main {
    font-size: 24px;
  }
  .title-sub {
    font-size: 18px;
  }
}

.content-txt {
  color: #333;
}

.content-list li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5px;
  padding-left: 15px;
}

.content-list li::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 8px;
  position: absolute;
  top: 8px;
  left: 0;
}

.content-list li h6 {
  font-weight: 600;
}

.section {
  padding: 90px 0;
}

@media (max-width: 767px) {
  .section {
    padding: 30px 0;
  }
}

.section1 {
  background-image: url("../img/block1-bg.png"), url("../img/block1-img.png");
  background-repeat: no-repeat;
  background-position: left top, right top;
}

.section1 .navbar {
  padding: 0;
  padding-top: 25px;
}

.section1 .navbar .navbar-nav .nav-link {
  padding: 0;
}

.section1 .navbar .nav-item {
  padding: 5px 0;
  margin-right: 30px;
}

.section1 .navbar .nav-item.active {
  border-bottom: 2px solid #00bbff;
}

.section1 .info-box {
  margin: 30% 0 28%;
}

.section1 h2 {
  color: #00bfe7;
  font-weight: normal;
}

.section1 h1 {
  color: #444;
  font-size: 3.5em;
  margin: 15px 0;
  font-weight: bold;
}

.section1 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section1 p span:nth-child(1) {
  margin-right: 5px;
}

.section1 .link-box {
  margin-bottom: 40px;
}

.section1 .link-box li {
  margin: 10px 0;
}

.section1 .link-box i {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #484848;
  color: #fff;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
}

.section1 .link-box a:hover {
  color: #222;
}

@media (max-width: 1100px) {
  .section1 {
    background-size: 40%, 60%;
  }
  .section1 .navbar {
    padding-top: 15px;
  }
}

@media (max-width: 850px) {
  .section1 {
    background-position: left top, 128% bottom;
  }
  .section1 .row > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .section1 .info-box {
    margin: 15% 0 10%;
  }
  .section1 p {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .section1 .navbar .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .section1 .navbar .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section1 h2 {
    font-size: 18px;
  }
  .section1 h1 {
    font-size: 24px;
    margin: 8px 0;
  }
  .section1 .link-box {
    margin-bottom: 40px;
  }
  .section1 .link-box li {
    margin: 5px 0;
    font-size: 14px;
  }
  .section1 .link-box i {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .section1 {
    background-size: 60%, 50%;
    background-position: left top, 118% bottom;
  }
  .section1 p {
    width: 100%;
  }
}

.section2 {
  background-color: #f8f8f8;
}

.section2 .title-main span::after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #00bbff;
  display: inline-block;
  position: absolute;
  left: calc(50% - 6px);
  bottom: -6px;
}

@media (max-width: 767px) {
  .section2 .img-box-mb {
    text-align: center;
    margin-bottom: 20px;
  }
  .section2 .img-box-mb img {
    max-width: 60%;
  }
}

.work-list {
  color: #777;
}

.about-box .tools-img img {
  margin-bottom: 5px;
}

.about-item {
  margin-bottom: 30px;
}

.section3 .work-tabs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.section3 .work-tabs .nav-link {
  padding: 5px 25px;
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section3 .work-tabs .nav-link.active, .section3 .work-tabs .nav-link:hover {
  background-color: #00bbff;
  color: #fff;
}

.section3 .work-list {
  margin: 0 -5px;
}

.section3 .work-list > div {
  padding: 0 5px;
}

@media (max-width: 575px) {
  .section3 .work-list > div {
    width: 50%;
  }
}

.section3 .work-item {
  position: relative;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  height: 130px;
}

.section3 .work-item .img {
  height: 130px;
  overflow: hidden;
  width: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section3 .work-item .img.template-img {
  background-position: center top;
}

.section3 .work-item:hover .hover {
  opacity: 1;
}

.section3 .work-item:hover .img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section3 .work-item .hover {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section3 .work-item .hover i {
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 30px;
}

.section3 .work-item .hover i:hover {
  color: #ccc;
}

@media (max-width: 575px) {
  .section3 .work-item {
    height: 90px;
  }
  .section3 .work-item .img {
    height: 90px;
  }
}

.section4 .row {
  margin: 0;
}

.section4 .img-box {
  background-image: url("../img/experience-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  padding: 20%;
}

.section4 .txt-box {
  background-color: #f3f8fd;
  padding: 50px 40px 30px;
}

@media (max-width: 767px) {
  .section4 .txt-box {
    padding: 20px 15px;
  }
}

.section4 .title-main span {
  padding: 0 25px 15px 0;
  position: relative;
}

.section4 .title-main span::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #00bbff;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.section4 .title-sub {
  margin-bottom: 5px;
}

.section4 h4 {
  color: #777777;
  font-size: 18px;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .section4 h4 {
    font-size: 16px;
  }
}

.experience-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.experience-item:last-child {
  margin-bottom: 0;
}

.experience-date {
  width: 80px;
}

.experience-date span {
  background-color: #f89d2b;
  border-radius: 5px;
  padding: 0 7px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.experience-date span::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent #f89c2b;
  border-color: transparent transparent transparent #f89c2b;
  position: absolute;
  right: -8px;
  top: 5px;
}

.experience-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 15px;
}

@media (max-width: 575px) {
  .experience-item {
    margin-bottom: 15px;
  }
  .experience-info {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    padding-left: 0;
    margin-top: 10px;
  }
}

.scrollTop {
  background-color: #00bbff;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 10px;
  bottom: 5%;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: none;
}

.scrollTop:hover {
  background-color: #ffcd76;
  color: #fff;
}
