.submit_btn {
  background-color: #ff443f;
  color: #fff;
}

.submit_btn:hover {
  background: #de2d28;
  color: #fff;
}

.video_container {
  padding-top: 0;
}

.video_player_box {
  background: #1a1a1a;
  padding: 35px 0 0;
}

.video_player_box h3 {
  display: inline-block;
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ff443f;
  font-weight: bold;
  font-size: 18px;
}

.video_player_box .video_player_container {
  background: #282828;
  padding: 0;
}

.video_player_box .video_player_container > div {
  padding-left: 0;
  padding-right: 0;
}

.video_player_box .video_player_container iframe {
  display: block;
  height: 550px;
}

@media (max-width: 991px) {
  .video_player_box {
    padding-top: 20px;
  }
  .video_player_box .video_player_container iframe {
    height: 450px;
  }
}

@media (max-width: 767px) {
  .video_player_box .video_player_container iframe {
    height: 350px;
  }
}

@media (max-width: 575px) {
  .video_player_box .video_player_container iframe {
    height: 250px;
  }
}

.video_player_side {
  padding: 20px 0;
  max-height: 550px;
  overflow: auto;
  overflow-x: hidden;
}

.video_player_side h3 {
  margin-left: 10px;
  color: #ccc;
}

@media (max-width: 991px) {
  .video_player_side {
    padding-bottom: 0;
  }
}

ul.page_tabs.video_play_side_tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 38px;
  width: 100%;
  border-bottom: 1px solid #474747;
}

ul.page_tabs.video_play_side_tabs li {
  float: left;
  cursor: pointer;
  padding: 0;
  height: 37px;
  line-height: 35px;
  color: #999999;
  position: relative;
  margin-left: 10px;
  position: relative;
  top: 1px;
}

ul.page_tabs.video_play_side_tabs li:hover {
  color: #ff443f;
  display: block;
}

ul.page_tabs.video_play_side_tabs li.active {
  color: #ff443f;
  display: block;
  border-bottom: 3px solid #ff443f;
}

.tab_intro ul {
  margin: 0 10px 15px;
  padding: 0;
  list-style: none;
  color: #ccc;
}

.tab_intro li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab_intro li a {
  display: inline-block;
  margin-right: 3px;
}

.tab_intro a {
  color: #ccc;
}

.tab_intro .title {
  color: #8e8e8e;
  width: 45px;
}

.tab_intro .txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tab_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
}

.tab_head b {
  color: #ccc;
}

.tab_head i {
  margin-right: 5px;
}

.tab_head .user-act {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.share-box a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3b5998;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 20px;
}

.share-box a.qq {
  background-color: #e31a26;
}

.share-box a.telegram {
  background-color: #1c96c8;
}

.share-box a.telegram i {
  position: relative;
  top: 1px;
  left: -1px;
}

.share-box a.weixin {
  background-color: #4fbd31;
}

.share-box a.twitter {
  background-color: #1e9ced;
}

.share-box a.google {
  background-color: #d64a36;
}

.share-box i {
  font-size: 12px;
}

.tab_series {
  border-top: 1px solid #474747;
}

.tab_series .panel {
  border-radius: 0;
  background: none;
  border-color: transparent;
  border-bottom: 1px solid #474747;
}

.tab_series .panel-group {
  margin-bottom: 0;
}

.tab_series .panel + .panel {
  margin-top: 0;
}

.tab_series .panel .panel-heading {
  background: none;
  padding: 15px 10px;
}

.tab_series .panel .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
  background-color: #1a1a1a;
}

.tab_series .panel .panel-title {
  color: #8e8e8e;
  font-size: 14px;
}

.tab_series .panel .panel-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 10px;
}

.tab_series .panel .panel-body a {
  width: calc(100% / 4 - 3px);
  margin-right: 4px;
  margin-bottom: 4px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #474747;
  color: #7d7d7d;
}

.tab_series .panel .panel-body a:nth-child(4n+4) {
  margin-right: 0;
}

.tab_series .panel .panel-body a.active {
  background-color: #ff443f;
  color: #fff;
  border-color: #ff443f;
}

@media (max-width: 991px) {
  .tab_series .panel .panel-body a {
    width: calc(100% / 5 - 4px);
  }
  .tab_series .panel .panel-body a:nth-child(5n+5) {
    margin-right: 0;
  }
  .tab_series .panel .panel-body a:nth-child(4n+4) {
    margin-right: 4px;
  }
}

@media (max-width: 450px) {
  .tab_series .panel .panel-body a {
    width: calc(100% / 4 - 3px);
  }
  .tab_series .panel .panel-body a:nth-child(4n+4) {
    margin-right: 0px;
  }
  .tab_series .panel .panel-body a:nth-child(5n+5) {
    margin-right: 4px;
  }
}

.video_player_info {
  padding: 10px 15px;
}

.video_player_info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.video_player_info ul li {
  display: inline-block;
  margin: 0 5px;
  color: #b3b3b3;
}

.video_player_info ul li.share {
  color: #dadada;
}

.video_player_info ul li.share i {
  color: #b3b3b3;
}

.video_player_info > div, .video_player_info a {
  margin: 10px 0;
  color: #ccc;
}

.video_player_info a {
  color: #b3b3b3;
}

.video_player_info a:hover {
  color: #ff443f;
}

.video_player_info i {
  color: #dadada;
  margin-right: 5px;
}

.video_player_info_right li a:hover i {
  color: #ff443f;
}

.video_player_info_right .hot_list {
  margin-top: 5px;
}

.video_player_info_title {
  font-size: 22px;
  color: #fff;
  margin-bottom: 15px;
}

.video_player_info li:last-child {
  margin-right: 0;
}

.video_player_info li .share i {
  color: #484848;
  margin-left: 3px;
}

.tv_player_list {
  overflow: auto;
  height: 593px;
}

.tv_player_unit {
  display: block;
  margin-bottom: 10px;
}

.tv_play_img {
  width: 35%;
  display: inline-block;
  position: relative;
  height: 75px;
  overflow: hidden;
}

.tv_play_time {
  position: absolute;
  width: 100%;
  height: 25px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(4%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  color: #fff;
  text-align: right;
  padding: 0 5px;
}

.tv_play_info {
  width: 62%;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  color: #a9a9a9;
}

.tv_play_title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.tv_play_view {
  margin-top: 3px;
}

.tv_play_view i {
  margin-right: 5px;
}

.tv_player_unit:hover .tv_play_title {
  color: #ff443f;
}

.tv_detail_content {
  margin-top: 40px;
}

.tv_detail_left {
  padding-left: 0;
}

@media (max-width: 991px) {
  .tv_detail_left {
    padding-right: 0;
  }
}

.tv_detail_right {
  padding-right: 0;
}

@media (max-width: 767px) {
  .tv_detail_right {
    padding-left: 0;
  }
}

.tv_detail_head {
  padding-bottom: 20px;
}

.tv_detail_hot_select::after {
  clear: both;
  content: "";
  display: block;
}

.tv_detail_mtitle {
  color: #333333;
  display: inline-block;
  font-size: 22px;
  margin: 0 10px 0 0;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid #ff443f;
}

.tv_detail_hot_select_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tv_detail_hot_select_list::after {
  content: "";
  display: block;
  clear: both;
}

.tv_detail_hot_select_img {
  height: 240px;
}

@media (max-width: 991px) {
  .tv_detail_hot_select_img {
    height: 200px;
  }
}

.tv_detail_hot_select_info {
  padding: 5px 10px;
}

.tv_detail_hot_select_title {
  font-size: 15px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tv_detail_hot_select_txt {
  font-size: 13px;
  color: #999999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.comment_nologin {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
}

.comment_img {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #cbcbcb;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.comment_txt {
  display: inline-block;
  width: calc(100% - 55px);
  padding-left: 20px;
}

.comment_btn {
  text-align: right;
  margin-top: 10px;
}

.comment_btn span {
  margin-left: 10px;
}

.comment_unit {
  border-bottom: 1px solid #dedede;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.user_name {
  color: #34495d;
  font-size: 15px;
}

.comment_user_talk {
  color: #555555;
  margin-bottom: 15px;
}

.user_post_time {
  color: #999;
}

.tv_detail_intro {
  background: #fff;
  padding: 15px;
}

.detail_more {
  float: right;
  color: #ff443f;
}

.detail_more:hover {
  color: #ff443f;
}

.maybe_like_mtitle {
  color: #333333;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.maybe_like_list {
  background: #fff;
  padding: 10px;
}

.maybe_like_list .maybe_like_unit {
  display: block;
  margin-bottom: 10px;
}

.maybe_like_list .maybe_like_unit:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .maybe_like_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .maybe_like_list .maybe_like_unit {
    width: calc(100% /2 - 4px);
    margin-right: 5px;
  }
  .maybe_like_list .maybe_like_unit:nth-child(2n+2) {
    margin-right: 0;
  }
  .maybe_like_list .maybe_like_img, .maybe_like_list .maybe_like_info {
    width: 100%;
  }
  .maybe_like_list .maybe_like_info {
    padding-left: 0;
  }
}

.maybe_like_img {
  width: 40%;
  display: inline-block;
  position: relative;
  height: 75px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.maybe_like_date {
  position: absolute;
  width: 100%;
  height: 25px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left;
  padding: 0 5px;
  font-size: 12px;
}

.maybe_like_info {
  width: 57%;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  color: #a9a9a9;
  vertical-align: top;
}

.maybe_like_title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #444444;
}

.detail_rank_mtitle {
  color: #333333;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.detail_rank_list {
  padding: 15px;
  background: #fff;
}

.detail_rank_list > div {
  margin-bottom: 5px;
  position: relative;
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.detail_rank_list > div span.rank_num {
  width: 22px;
  height: 22px;
  text-align: center;
  font-size: 13px;
  border: 1px solid #999999;
  line-height: 22px;
  color: #333333;
  position: absolute;
  left: 0;
}

.detail_rank_list > div span.org_num {
  color: #ff9900;
  border: 1px solid #ff9900;
}

.detail_rank_list > div .rank_title {
  color: #333333;
  width: 150px;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail_rank_list > div .rank_view {
  color: #999999;
  text-align: right;
  margin-left: auto;
}
