/*
	normal.scss - a CSS normalizer (cf. CSS reset).
	
	Provides a normalized environment for new designs and nice defaults for
	styling simple documents.

	Author: Miikka Koskinen <miikka.koskinen@iki.fi>
*/
/* Box model reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Text styling */
body {
  font-size: 1em;
  line-height: 1.4em;
  font-family: "Palatino", "Palatino Linotype", "Georgia", serif;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 2.25em;
  line-height: 1.86667em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.86667em;
}

h3 {
  font-size: 1em;
  line-height: 1.4em;
  font-variant: small-caps;
}

p, ul, ol, blockquote, pre {
  margin-bottom: 1.4em;
}

li {
  margin-left: 1em;
}

small {
  font-size: 0.8em;
  line-height: 1.75em;
}

/* vim: set ts=4 sw=4 noet: */
body {
  color: #fff;
  font-family: 'Microsoft JhengHei', 'Do Hyeon', 'Geneva', 'Tahoma', sans-serif;
  font-size: 16px;
}

@media all and (max-width: 600px) {
  body {
    font-size: 15px;
  }
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.addPadding {
  padding-top: 50px;
  display: block;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.mTitle {
  font-size: 38px;
  font-weight: bold;
  padding: 100px 0 75px;
}

.mTitle::before, .mTitle::after {
  content: "";
  background: #fff;
  width: 50px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 25px;
}

@media all and (max-width: 1080px) {
  .mTitle {
    padding: 70px 0 40px;
  }
}

@media all and (max-width: 600px) {
  .mTitle {
    padding: 50px 0 30px;
    font-size: 30px;
  }
  .mTitle::before, .mTitle::after {
    display: none;
  }
}

.borderLine {
  -webkit-box-shadow: 4px 4px 0px rgba(93, 93, 93, 0.3);
          box-shadow: 4px 4px 0px rgba(93, 93, 93, 0.3);
}

.outer_header {
  background: url("../img/headerBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

@media all and (max-width: 600px) {
  .outer_header {
    background-position: right bottom;
  }
}

.header {
  color: #fff;
  position: fixed;
  z-index: 99;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 100%;
  top: 0;
  padding: 10px 0;
}

@media all and (max-width: 767px) {
  .header {
    background: #000;
    padding: 15px 0;
  }
}

@media all and (max-width: 600px) {
  .header {
    background: #000;
    padding: 5px 0;
  }
}

.header .navbar {
  margin-bottom: 0;
  background: transparent;
  border: none;
}

.header .navbar .navbar-toggle {
  margin-right: 0;
}

.header .navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}

.header .navbar .navbar-toggle:hover, .header .navbar .navbar-toggle:focus {
  background: #7971ea;
}

.header .navbar .navbar-toggle:hover .icon-bar, .header .navbar .navbar-toggle:focus .icon-bar {
  background-color: #333;
}

.header .navbar li {
  margin-left: 0;
}

@media all and (max-width: 767px) {
  .header .navbar li {
    border-bottom: 1px dotted #222;
  }
}

.header .navbar li.active > a, .header .navbar li .open > a {
  color: #fff;
}

.header .navbar li.active > a:hover, .header .navbar li.active > a:focus, .header .navbar li .open > a:hover, .header .navbar li .open > a:focus {
  color: #fff;
}

.header .navbar li.mb {
  display: none;
}

@media all and (max-width: 767px) {
  .header .navbar li.mb {
    display: block;
  }
}

.header .navbar li a {
  color: #fff;
  padding: 20px 15px 12px;
  position: relative;
}

@media all and (max-width: 1080px) {
  .header .navbar li a {
    padding: 13px 10px;
    font-size: 15px;
  }
}

.header .navbar li a:hover, .header .navbar li a:focus {
  color: #fff;
  top: -5px;
}

@media all and (max-width: 767px) {
  .header .navbar li a:hover, .header .navbar li a:focus {
    top: 0;
  }
}

.header .navbar li:hover, .header .navbar li:focus {
  color: #fff;
}

.header .hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

@media all and (max-width: 767px) {
  .header .hvr-underline-from-center {
    display: block;
    text-align: center;
  }
}

.header .hvr-underline-from-center::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #7971ea;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.header .hvr-underline-from-center:hover::before, .header .hvr-underline-from-center:focus:before, .header .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.header .logo {
  color: #fff;
  padding-left: 0;
  padding-right: 0;
}

@media all and (max-width: 767px) {
  .header .logo {
    padding: 0;
  }
}

.header .logo img {
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media all and (max-width: 1080px) {
  .header .logo img {
    width: 190px;
  }
}

@media all and (max-width: 600px) {
  .header .logo img {
    width: 145px;
    margin-top: 8px;
  }
}

.header .logo:hover {
  color: #fff;
}

.header .link {
  text-align: right;
  font-size: 12px;
  padding-right: 15px;
}

@media all and (max-width: 767px) {
  .header .link {
    position: absolute;
    width: 160px;
    right: 60px;
    top: 17px;
  }
}

@media all and (max-width: 600px) {
  .header .link {
    right: 40px;
  }
  .header .link .mb {
    display: none;
  }
}

.header .link a {
  color: #fff;
}

.header .link a > span {
  margin-right: 5px;
}

.header .link a + a::before {
  content: "|";
  margin: 0 5px;
  display: inline-block;
  color: #fff;
}

.header .link a:hover {
  color: #7971ea;
}

.header .link a:hover > span {
  color: #fff;
}

/*header scroll*/
body.scroll .header {
  height: 85px;
  background: rgba(0, 0, 0, 0.85);
}

body.scroll .header .logo img {
  width: 200px;
}

body.scroll .navbar-nav > li {
  font-size: 13px;
}

body.scroll .navbar-nav > li.act::after {
  content: "";
  display: block;
  border-bottom: 2px solid #7971ea;
  position: relative;
}

body.scroll .navbar-nav > li.act a {
  padding: 15px;
}

.banner {
  background: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}

@media all and (max-width: 767px) {
  .banner {
    margin-top: 80px;
    background-position: 60% bottom;
  }
}

.banner .container {
  min-height: 600px;
}

.banner .linkBtn {
  background: url("../img/linkBtnBg.png");
  background-size: 100% 100%;
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 159px;
  height: 47px;
  position: absolute;
  bottom: 150px;
  left: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 22px;
  line-height: 47px;
  -webkit-box-shadow: 0px 0px 5px rgba(181, 180, 181, 0.5);
          box-shadow: 0px 0px 5px rgba(181, 180, 181, 0.5);
  text-shadow: 1px 1px 3px #969696;
}

.banner .linkBtn > span {
  margin-left: 5px;
  font-size: 30px;
  position: relative;
  top: 3px;
}

.banner .linkBtn:hover {
  bottom: 148px;
}

@media all and (max-width: 600px) {
  .banner .linkBtn {
    width: 132px;
    height: 44px;
    font-size: 18px;
    line-height: 44px;
    -webkit-box-shadow: 0px 0px 3px rgba(181, 180, 181, 0.5);
            box-shadow: 0px 0px 3px rgba(181, 180, 181, 0.5);
  }
  .banner .linkBtn:hover {
    bottom: 197px;
  }
}

@media all and (max-width: 600px) {
  .banner {
    margin-top: 50px;
    background-size: 240%;
    min-height: 450px;
  }
  .banner .container {
    text-align: left;
    min-height: 450px;
  }
  .banner .linkBtn {
    bottom: 197px;
  }
  .banner img {
    position: relative;
    top: -70px;
  }
}

.sectBody {
  padding-bottom: 100px;
}

@media all and (max-width: 1080px) {
  .sectBody {
    padding-bottom: 70px;
  }
  .sectBody .slick-prev, .sectBody .slick-next {
    z-index: 10;
  }
  .sectBody .slick-prev::before, .sectBody .slick-next::before {
    content: '\e902';
    font-family: 'icomoon' !important;
    font-size: 35px;
    font-weight: bold;
  }
  .sectBody .slick-prev {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .sectBody .slick-dots {
    bottom: 20px;
  }
}

@media all and (max-width: 1080px) and (max-width: 600px) {
  .sectBody .slick-dots li {
    margin: 0 3px;
  }
}

@media all and (max-width: 1080px) {
  .sectBody .slick-dots li.slick-active button:before {
    color: #f8b22f;
    opacity: 0.9;
  }
  .sectBody .slick-dots li button::before {
    color: #fff;
    opacity: 0.5;
  }
  .sectBody .slick-dots li button:hover:before {
    color: #f8b22f;
    opacity: 0.9;
  }
}

.sectBody .beforeArrow::before {
  content: "\e906";
  display: block;
  background: #7971ea;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  margin: 30px auto;
  font-family: 'icomoon' !important;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.step_info {
  margin-top: 20px;
}

.step_num {
  font-family: 'Do Hyeon';
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
  color: #f8b22f;
  margin-bottom: 10px;
}

.step_num > span {
  font-size: 40px;
}

@media all and (max-width: 600px) {
  .step_num {
    font-size: 20px;
  }
  .step_num > span {
    font-size: 30px;
  }
}

.block1 {
  background: url("../img/block1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-position: center top;
}

.block1 .mTitle {
  color: #000;
}

.block1 .mTitle::before, .block1 .mTitle::after {
  background: #000;
}

.advantage_body {
  position: relative;
  min-height: 650px;
  background: url(../img/circle.png) no-repeat center 89%;
  background-size: 50%;
}

@media all and (max-width: 1080px) {
  .advantage_body {
    background-size: 60%;
  }
}

@media all and (max-width: 767px) {
  .advantage_body {
    background: none;
  }
}

.advantage_img {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  margin-left: -60px;
}

@media all and (max-width: 767px) {
  .advantage_img {
    margin-left: 0;
  }
  .advantage_img > img {
    max-width: 380px;
  }
}

@media all and (max-width: 450px) {
  .advantage_img > img {
    max-width: 280px;
  }
}

.advantage_info {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

@media all and (max-width: 600px) {
  .advantage_info {
    text-align: left;
  }
}

@media all and (max-width: 450px) {
  .advantage_info {
    text-align: center;
  }
}

.advantage_info li {
  position: absolute;
  z-index: 2;
  width: 130px;
  text-align: center;
  color: #000;
  color: #fff;
}

.advantage_info li.a1 {
  left: 200px;
  top: 250px;
}

.advantage_info li.a2 {
  left: 350px;
  top: -20px;
}

.advantage_info li.a3 {
  left: calc(65% - 55px);
  top: 55px;
}

.advantage_info li.a4 {
  right: 240px;
  bottom: 140px;
}

.advantage_info li.a5 {
  left: 360px;
  bottom: 20px;
}

.advantage_info li.a5 > div {
  padding: 20px 0;
}

.advantage_info li > div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #3e4e88;
  color: #fff;
  margin: 0 auto;
  border: 3px solid rgba(255, 255, 255, 0.5);
  padding: 35px 0;
}

.advantage_info li > div.purpleColor {
  background: #7971ea;
}

@media all and (max-width: 767px) {
  .advantage_info li > div {
    background: transparent;
    border-radius: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    color: #000;
  }
  .advantage_info li > div.purpleColor {
    background: transparent;
  }
}

.advantage_info li .icon {
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}

@media all and (max-width: 1200px) {
  .advantage_info li.a1 {
    left: 150px;
  }
  .advantage_info li.a4 {
    right: 200px;
  }
  .advantage_info li.a5 {
    left: 250px;
    bottom: 0;
  }
}

@media all and (max-width: 1080px) {
  .advantage_info li.a1 {
    left: 100px;
  }
  .advantage_info li.a2 {
    left: 220px;
    top: 0;
  }
  .advantage_info li.a4 {
    right: 170px;
  }
}

@media all and (max-width: 930px) {
  .advantage_info li.a1 {
    left: 70px;
  }
  .advantage_info li.a2 {
    left: 150px;
  }
}

@media all and (max-width: 767px) {
  .advantage_info li {
    margin: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 5 - 4px);
  }
  .advantage_info li br {
    display: none;
  }
  .advantage_info li.a1, .advantage_info li.a2, .advantage_info li.a3, .advantage_info li.a4, .advantage_info li.a5 {
    left: 0;
    bottom: 0;
    top: 0;
  }
  .advantage_info li.a1 > div, .advantage_info li.a2 > div, .advantage_info li.a3 > div, .advantage_info li.a4 > div, .advantage_info li.a5 > div {
    padding: 0;
    width: auto;
    height: auto;
    border: none;
  }
  .advantage_info li .icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #000;
    margin-bottom: 5px;
  }
}

@media all and (max-width: 600px) {
  .advantage_info li {
    width: calc(50% - 2px);
    margin-bottom: 10px;
    text-align: left;
  }
  .advantage_info li .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 40px;
    display: inline-block;
  }
  .advantage_info li .step_txt {
    display: inline-block;
  }
}

@media all and (max-width: 450px) {
  .advantage_info li {
    text-align: center;
    width: calc(100% / 3 - 4px);
  }
  .advantage_info li .step_txt {
    display: block;
  }
}

.block2 {
  background: url("../img/block2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-position: center top;
}

.registered_body {
  margin: 0 80px;
}

@media all and (max-width: 1080px) {
  .registered_body {
    margin: 0 20px;
  }
}

@media all and (max-width: 767px) {
  .registered_body .slick-prev, .registered_body .slick-next {
    width: 35px;
    height: 35px;
  }
  .registered_body .slick-prev {
    left: -25px;
  }
  .registered_body .slick-next {
    right: -25px;
    top: 53%;
  }
}

.registered_unit {
  display: inline-block;
  color: #000;
}

.registered_unit:nth-child(2n+2) {
  margin-top: 30px;
}

@media all and (max-width: 767px) {
  .registered_unit:nth-child(2n+2) {
    margin-top: 0;
  }
}

.registered_unit:nth-child(4n+4) .registered_img::after {
  display: none;
}

.registered_img {
  background-color: #f8b22f;
  background-image: url(../img/registeredShadow.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  width: 225px;
  margin: 0 auto;
  padding: 7px;
  border-radius: 5px;
  position: relative;
}

.registered_img img {
  border-radius: 5px;
}

.registered_info {
  color: #fff;
}

.block3 {
  background: url("../img/line.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-size: auto;
}

@media all and (max-width: 767px) {
  .block3 {
    background-image: none;
  }
}

.block3 .mTitle {
  color: #fff;
}

@media all and (max-width: 600px) {
  .block3 .mTitle {
    padding: 50px 0 10px;
  }
}

.buy_body {
  margin: 0 120px;
  position: relative;
  z-index: 2;
}

.buy_body .slick-list {
  padding: 30px 10px !important;
}

@media all and (max-width: 600px) {
  .buy_body .slick-list {
    padding: 0px 10px !important;
  }
}

@media all and (max-width: 1080px) {
  .buy_body {
    margin: 0 20px;
  }
}

.buy_body .slick-prev, .buy_body .slick-next {
  z-index: 10;
  width: inherit;
  height: inherit;
}

.buy_body .slick-prev::before, .buy_body .slick-next::before {
  content: '\e902';
  font-family: 'icomoon' !important;
  font-size: 45px;
  font-weight: bold;
}

.buy_body .slick-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.buy_body .slick-next {
  top: 54%;
}

.buy_body .slick-dots {
  bottom: -20px;
}

.buy_unit {
  margin: 0 10px;
  position: relative;
}

@media all and (max-width: 600px) {
  .buy_unit {
    margin: 0 20px;
  }
}

.buy_unit:focus {
  outline: none;
}

.buy_unit .buy_img {
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #fff;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.buy_unit .buy_img img {
  width: 100%;
  opacity: 0.6;
  border-width: 2px;
  margin: 0 auto;
}

@media all and (max-width: 600px) {
  .buy_unit .buy_img img {
    opacity: 1;
    width: inherit;
  }
}

@media all and (max-width: 600px) {
  .buy_unit .buy_img {
    background: none;
  }
  .buy_unit .buy_img img {
    opacity: 1;
    width: inherit;
  }
}

.buy_unit.slick-active.slick-current .buy_img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.buy_unit.slick-active.slick-current .buy_img img {
  opacity: 1;
}

@media all and (max-width: 600px) {
  .buy_unit.slick-active.slick-current .buy_img {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .buy_unit.slick-active.slick-current .buy_img img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.buy_unit.slick-active.slick-current .buy_info {
  padding-top: 0;
  display: block;
}

.buy_unit .step_info {
  width: 302%;
  margin-left: -85%;
  text-align: center;
  margin-top: 50px;
}

@media all and (max-width: 600px) {
  .buy_unit .step_info {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}

.buy_unit .step_txt {
  display: inline-block;
  min-height: 77px;
}

.buy_info {
  display: none;
}

@media all and (max-width: 600px) {
  .buy_info {
    display: block;
  }
}

.outer_section {
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

@media all and (max-width: 600px) {
  .outer_section .sectBody {
    padding-bottom: 20px;
  }
}

.block4 {
  background: url("../img/line.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-size: auto;
}

@media all and (max-width: 767px) {
  .block4 {
    background-image: none;
  }
}

@media all and (max-width: 600px) {
  .block4 .mTitle {
    padding: 50px 0 10px;
  }
}

.deposit_body {
  margin: 0 80px;
}

@media all and (max-width: 1080px) {
  .deposit_body {
    margin: 0 20px;
  }
}

.deposit_unit {
  margin-bottom: 35px;
}

.deposit_unit .beforeArrow::before {
  width: 35px;
  height: 35px;
  line-height: 35px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  margin: 115px 20px 0 0;
}

@media all and (max-width: 1080px) {
  .deposit_unit .beforeArrow::before {
    margin: 30px auto;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.deposit_unit > .row .deposit_info {
  margin-top: 0;
}

.deposit_img {
  margin-top: 10px;
}

.deposit_subInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 1080px) {
  .deposit_subInfo {
    margin-top: 15px;
    display: block;
  }
}

.deposit_subInfo .deposit_img {
  margin-top: 0;
  width: 175px;
}

@media all and (max-width: 1080px) {
  .deposit_subInfo .deposit_img {
    display: inline-block;
    vertical-align: top;
  }
}

@media all and (max-width: 600px) {
  .deposit_subInfo .deposit_img {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}

.subStep {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10px;
}

@media all and (max-width: 1080px) {
  .subStep {
    display: inline-block;
    width: calc(100% - 190px);
  }
}

@media all and (max-width: 600px) {
  .subStep {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
  }
}

.subStep__unit {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 23px;
  background-color: #fff;
  position: relative;
}

.subStep__unit .num {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #b2adf4;
  font-size: 30px;
  font-family: 'Do Hyeon';
  line-height: 50px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.subStep__unit .num::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 10px 0 10px;
  border-color: #b2adf4 transparent transparent transparent;
  position: absolute;
  left: calc(50% - 12px);
  bottom: -15px;
}

.subStep__unit .purpleColor {
  background: #7971ea;
}

.subStep__unit .purpleColor::after {
  border-color: #7971ea transparent transparent transparent;
}

.subStep__unit .darkpurpleColor {
  background: #3e4e88;
}

.subStep__unit .darkpurpleColor::after {
  border-color: #3e4e88 transparent transparent transparent;
}

.subStep__unit .darkpurpleColor2 {
  background: #1a2c5b;
}

.subStep__unit .txt {
  color: #000;
  display: inline-block;
  vertical-align: middle;
}

.subStep__unit .txt img {
  position: absolute;
  right: 5px;
  top: 10px;
}

@media all and (max-width: 767px) {
  .subStep__unit .txt img {
    display: none;
  }
}

.subStep__unit:nth-child(4n+4) .num::after {
  display: none;
}

.subStep__unit:nth-child(4n+4) .txt img {
  top: 3px;
}

.subStep__unit .txt {
  margin-left: 5px;
}

.withdrawal_body {
  margin: 0 100px;
}

@media all and (max-width: 1080px) {
  .withdrawal_body {
    margin: 0 20px;
  }
}

.withdrawal_unit {
  margin-bottom: 60px;
}

@media all and (max-width: 1080px) {
  .withdrawal_unit {
    margin-bottom: 40px;
  }
}

.withdrawal_unit .step_txt {
  margin-bottom: 20px;
}

.withdrawal_step1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 600px) {
  .withdrawal_step1 {
    display: block;
  }
}

.withdrawal_step1 .withdrawal_img {
  width: 270px;
  margin-right: 85px;
}

@media all and (max-width: 1080px) {
  .withdrawal_step1 .withdrawal_img {
    width: 220px;
    margin-right: 20px;
  }
}

@media all and (max-width: 600px) {
  .withdrawal_step1 .withdrawal_img {
    width: 100%;
    text-align: center;
  }
  .withdrawal_step1 .withdrawal_img img {
    width: 200px;
  }
}

.withdrawal_step1 .withdrawal_info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 60px;
}

@media all and (max-width: 600px) {
  .withdrawal_step1 .withdrawal_info {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-top: 30px;
  }
}

.withdrawal_subInfo {
  position: relative;
}

.withdrawal_subInfo .subStep_unit {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 35px;
  background-color: #fff;
  font-size: 20px;
  position: relative;
}

@media all and (max-width: 1080px) {
  .withdrawal_subInfo .subStep_unit {
    margin-bottom: 25px;
    font-size: 16px;
  }
}

.withdrawal_subInfo .subStep_unit:nth-child(3n+3) .num::after {
  display: none;
}

.withdrawal_subInfo .num {
  width: 88px;
  height: 88px;
  border-radius: 5px;
  background: #b2adf4;
  font-size: 50px;
  font-family: 'Do Hyeon';
  line-height: 90px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

@media all and (max-width: 1080px) {
  .withdrawal_subInfo .num {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
}

.withdrawal_subInfo .num::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 10px 0 10px;
  border-color: #b2adf4 transparent transparent transparent;
  position: absolute;
  left: calc(50% - 12px);
  bottom: -15px;
}

.withdrawal_subInfo .purpleColor {
  background: #7971ea;
}

.withdrawal_subInfo .purpleColor::after {
  border-color: #7971ea transparent transparent transparent;
}

.withdrawal_subInfo .darkpurpleColor {
  background: #3e4e88;
}

.withdrawal_subInfo .txt {
  color: #000;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  width: calc(100% - 120px);
}

.withdrawal_subInfo .txt img {
  position: absolute;
  right: 10px;
  top: 10px;
}

@media all and (max-width: 1080px) {
  .withdrawal_subInfo .txt img {
    height: 55px;
    line-height: inherit;
  }
}

@media all and (max-width: 767px) {
  .withdrawal_subInfo .txt img {
    display: none;
  }
}

.withdrawal_step3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 600px) {
  .withdrawal_step3 {
    display: block;
  }
}

.withdrawal_step3 .withdrawal_unit .step_txt {
  min-height: 45px;
}

.withdrawal_step3 .withdrawal_unit:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 60px;
}

@media all and (max-width: 1080px) {
  .withdrawal_step3 .withdrawal_unit:first-child {
    margin-right: 20px;
  }
}

@media all and (max-width: 600px) {
  .withdrawal_step3 .withdrawal_unit:first-child {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-right: 0;
  }
}

.withdrawal_step3 .withdrawal_unit:last-child {
  width: 270px;
}

.withdrawal_step3 .withdrawal_unit:last-child .withdrawal_img {
  text-align: center;
}

@media all and (max-width: 767px) {
  .withdrawal_step3 .withdrawal_unit:last-child {
    width: 200px;
  }
}

@media all and (max-width: 600px) {
  .withdrawal_step3 .withdrawal_unit:last-child {
    width: 100%;
  }
}

.footer {
  padding: 13px 0;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.scrollTop {
  display: none;
  position: fixed;
  right: 5px;
  bottom: 20%;
  width: 48px;
  cursor: pointer;
  z-index: 100;
}

.scrollTop i {
  width: 50px;
  height: 50px;
  background: #7971ea;
  color: #fff;
  border-radius: 50%;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.scrollTop i:hover {
  background: #3a2ee0;
}
/*# sourceMappingURL=style.css.map */