@font-face {
    font-family: cwTeX;
    src: url(../fonts/cwTeXMing-zhonly.ttf);
}
body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: \5FAE\8EDF\6B63\9ED1\9AD4, Microsoft, Arial, Helvetica, sans-serif;
	color: #616266;
}
a:hover, a:focus{
	text-decoration: none;
}
div{
	box-sizing: border-box;
}
img{
	max-width: 100%;
}
.cwfont{
	font-family: "cwTeX";
}
.bigFontSize{
	font-size: 30px;
}
.container{
	max-width: 1200px;
}
.section_mTitle{
	vertical-align: middle;
	display: inline-block;
	padding-right: 30px;
	margin-right: 30px;
	border-right: 1px solid #d1d1d1;
}
.sectionTxt{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 275px);
}
.section_mTitle .cnTxt{
	color: #005691;
}
/*header*/
.header{
	width: 100%;
	position: fixed;
	z-index: 99;
	top: 0;
	transition: all .3s;
}
/*scroll menu*/
.header_scroll{
	background: rgba(0,0,0,0.7);
}
.navbar-brand{
	padding: 15px 0;
}
.header .navbar-nav > li.act {
	background-color: #ffcb08;
}
.header .navbar-default .navbar-nav > li.act > a{
	color: #2c2a34;
}
.navbar-default{
	background: transparent;
	border: none;
	margin-bottom: 10px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus{
	color: #efefef;
	font-size: 18px;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #000;
}

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffcb08;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/*header scroll*/
body.scroll .header{
	height: 62px;
}
body.scroll .navbar-brand > img{
	width: 180px;
}
body.scroll .navbar-nav{
	
}
body.scroll .header .navbar-default .navbar-nav > li > a{
	font-size: 16px;
}

/*banner*/
.banner{
	position: relative;
}
a.scroll{
	position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -65px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
}
a.scroll i {
    padding-bottom: 10px;
    width: 30px;
    height: 52px;
    display: block;
    margin: 0 auto 8px;
    background: url(../images/scroll.png) no-repeat;
    position: relative;
}
a.scroll i:after{
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -1px;
	top: 10px;
	height: 9px;
	width: 2px;
	background: #fff;
	animation:  scroll 0.8s infinite alternate;}
@keyframes scroll{
	from{top:10px;}
	to{top:15px;}
}
@-webkit-keyframes scroll{
	from{top:10px;}
	to{top:15px;}
}
@-moz-keyframes scroll{
	from{top:10px;}
	to{top:15px;}
}
/*about*/
.about_box{
	background: url(../images/about_bg.png) no-repeat center center/cover;
	background-attachment: fixed;
	padding: 7% 0;
	color: #fff;
}
.about_container > div{
	padding: 20px 0;
}
.about_title{
	color: #ffea00;
}
.about_info{
	font-size: 16px;
	line-height: 23px;
}
.about_list{
	margin-top: 15px;
}
.about_unit{
	display: inline-block;
	width: 140px;
	height: 140px;
	margin: 0 8px 10px;
	vertical-align: middle;
	border-radius: 50%;
	border:1px solid #fff;
	padding-top: 25px;
}
.about_txt{
	margin-top: 5px;
}
.about_height{
	height: 40px;
	line-height: 40px;
}
/*products*/
.products_header{
	background:url(../images/mtitle_bg.png) repeat;
	padding: 30px 0;
}
.products_unit{
	display: block;
	width: calc(100%/5);
	float: left;
	position: relative;
	color: #fff;
	overflow: hidden;
}
.products_img img{
	width: 100%;
}
.products_info{
	position: absolute;
	color: #fff;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 10%;
	font-size: 14px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+38,0.65+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 38%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 38%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 38%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	transition: all .3s;
}
.products_title{
	font-size: 18px;
	position: absolute;
	bottom: 30px;
	width: 100%;
	padding: 0 10%;
	left: 0;
	transition: all .4s; 
}
.products_txt{
	position: absolute;
	bottom: -200px;
	width: 100%;
	left: 0;
	padding: 0 10%;
	transition: all .4s;
	min-height: 100px;
}
.products_unit:hover .products_info{
	background: rgba(68,103,159,.85);
	padding-top: 50%;
}
.products_unit:hover .products_title{
	bottom: 265px;
}
.products_unit:hover .products_title::after{
	content: "";
	display: block;
	border-bottom: 1px solid #fff;
	margin:20px 0;
}
.products_unit:hover .products_txt{
	bottom: 165px;
}
/*works*/
.works_box{
	background: url(../images/works_bg.png) no-repeat center center/cover;
	padding: 5% 0;
}
.worksMore{
	display: inline-block;
    background: #3b577d;
    border-radius: 2px;
    padding: 2px 13px;
    color: #fff;
    margin-top: 10px;
    transition: all .2s;	
}
.worksMore i{
	margin-left: 5px;	
}
.worksMore:hover{
	color: #fff;
	background: #4a71ad;
}
.works_list{
	margin: 35px 0;
}
.works_unit:hover.works_unit::before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 50;
}
.works_unit{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#215186+0,759de7+50,215186+100 */
	background: rgb(33,81,134); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(33,81,134,1) 0%, rgba(117,157,231,1) 50%, rgba(33,81,134,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(33,81,134,1) 0%,rgba(117,157,231,1) 50%,rgba(33,81,134,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(33,81,134,1) 0%,rgba(117,157,231,1) 50%,rgba(33,81,134,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215186', endColorstr='#215186',GradientType=0 ); /* IE6-9 */
	padding: 3px;
	display: inline-block;
	width: calc(100% / 4 - 12px);
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	border:1px solid #fff;
	position: relative;
}
.works_unit:hover.works_unit::after{
	content: "\f002";
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #131313;
    display: block;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    z-index: 51;
    font-family: "FontAwesome";
    text-align: center;
    line-height: 64px;
    font-size: 25px;
    color: #ffc000;
}
.works_unit.coming_soon::before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 50;
}
.works_unit:hover.coming_soon::after,
.works_unit.coming_soon::after{
	content: "敬請期待";
    font-size: 15px;
    line-height: 20px;
    padding: 14px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #131313;
    display: block;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    z-index: 51;
    text-align: center;
    color: #ffc000;
}
.works_unit:nth-child(4n+4){
	margin-right: 0;
}
.works_unit img{
	transition: all .2s;
	width: 100%;
}
.works_unit:hover{
	border:1px solid #ccc;
}
.works_unit:hover img{
	transform: scale(1.2);
}
.works_unit.coming_soon:hover img{
	transform: scale(1);
}
.works_list .slick-prev, .works_list .slick-next{
	border-radius: 50%;
	background: #005691;
	width: 25px;
	height: 25px;
}
.works_list .slick-prev:before, .works_list .slick-next:before{
	color: #fff;
	opacity: 1;
	font-size: 20px;
	font-family:FontAwesome;
}
.works_list .slick-prev{
	z-index: 99;
	left: -10px;
}
.works_list .slick-next {
    right: -10px;
}
.slick-prev:before {
    content: "\f104";
}
.slick-next:before {
    content: "\f105";
}
/*contact*/
.contact_box{
	background: url(../images/contact_bg.png) no-repeat center center/cover;
	background-attachment: fixed;
	padding: 6% 0 14%;
	border-top: 1px solid #cccccc;
}
.contact_mTitle .cnTxt{
	color: #005691;
	font-size: 16px;
}
.contact_txt{
	width: 40%;
	margin: 25px 0;
}
.contact_link a{
	display: inline-block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-right: 10px;
	border:1px solid #005691;
	background: #e8f1f5;
	text-align: center;
	line-height: 40px;
	transition: all .2s;
	margin-bottom: 5px;
}
.contact_link a:hover{
	transform: scale(1.2);
}
/*footer*/
.footer_box{
	background: #3b577d;
	color: #fff;
	font-size: 13px;
	padding: 25px 0;
}
/*scrolltop*/
.scrollTop {
	position: fixed;
	right: 30px;
	bottom: 25%;
	background: #3b577d;
	color: #fff;
	width: 48px;
	height: 48px;
	display: none;
	line-height: 48px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}
.scrollTop:hover{
	color: #DDF5F7;
}
/*works page*/
.page_header{
	background: rgba(0,0,0,0.7);
	height: 62px;
}
.page_header .navbar-brand > img{
	width: 180px;
}
.page_header .navbar-default .navbar-nav > li > a{
	font-size: 16px;
	padding-top: 24px;
    padding-bottom: 18px;
}
.pageBannerBox{
	position: relative;
	height: 530px;
}
.page_works_box{
	background: url(../images/works_bg.png) repeat-y center center/100%;
}
.page_btn{
    text-align: center;
    padding-top: 50px;
}
.page_btn a{
    color: #005691;
    border: 1px solid #005691;
    display: inline-block;
    text-align: center;
    padding:5px 11px;
}
.page_btn a.select, .page_btn a:hover{
    background: #e8f1f5;
}
.page_btn .back_btn i{
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.page_btn > a, .page_btn ul li{
    display: inline-block;
    margin: 0 3px;
}
.page_btn ul{
    display: inline-block;
    margin: 0;
    padding: 0;
}