$primary:#509de2;
$main-title-b:#063964;
$main-title-y:#fcdc74;
$content:#000000;
$btn:#4a9ff5;

$white:#fff;
$black: #000;

$primary-size:16px;

$pc-media:1140px;
$pcs-media:991px;
$pad-media:767px;
$pads-media:600px;
$phone-media:574px;
