#demo-switch{
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

#demo-switch li{
	display: inline-block;
	border: #aaa 1px solid;
	color: #aaa;
	letter-spacing: 1px;
	cursor: pointer;
	padding: 3px 8px;
	margin:10px 0px 0px 0px;
	font-size: 14px;
	background-color: #ffffff;
}

#demo-switch li.active{
	border: #1a1a1a 1px solid;
	background-color: #1a1a1a;
	color: #ffffff;
}

.demo-intro{
	margin-bottom: 30px;
	border: #1a1a1a 1px solid;
	background-color: #ffffff;
	padding: 10px 15px;
}

.demo-intro div{
	display: none;
}

.good, .bad{
	border-bottom: #ddd 1px dashed;
}

.good{
	color: #00acc1;
}
.bad{
	color:#e65100;
}

.good .fa, .bad .fa{
	margin-right: 5px;
}

#demo-table,.css-table{
	width: 80%;
    background-color: #ffffff;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
/*雙表格*/
#double-table,.css-table{
    width: 45%;
    float: left;
    background-color: #ffffff;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: 1em;
    margin-right: 1em;
}



@media screen and (max-width: 480px){
	#demo-table,.css-table{
	width: 95%;
}
}

@media screen and (max-width: 720px){
		#demo-table,.css-table{
	width: 95%;
}
	#double-table,.css-table{
	width: 95%;
	float: none;
	margin-left: auto;
    margin-right: auto;
}
}

#demo-table td, #demo-table th,#double-table td, #double-table th,
.css-table .td, .css-table .th{
	padding: 5px;
}

#demo-table td,#double-table td,
.css-table .td{
	color: #666666;
	border: #ddd 1px solid;
}

#demo-table th,#double-table th,
.css-table .th{
	background-color: #1a1a1a;
	color:#ffffff;
	border: #FFF 1px solid;
	text-align: center;
}
/*head_color*/
#demo-table  .first_table,
#double-table  .first_table{
	background-color: #000000;
	
}

#demo-table  .second_table,
#double-table  .second_table{
	background-color: #780000;

}

#demo-table  .third_table,
#double-table  .third_table{
	background-color: #BF0000;
}

#demo-table  .fourth_table,
#double-table  .fourth_table{
	background-color: #FFB900;
}

#demo-table  .content_table,
#double-table  .content_table{
	background-color: #990000;
}

#demo-table .content_table_td,
#double-table .content_table_td{

	background-color: #393939;
	color: #FFFFFF;
}


/*for uefa2016*/

/*#demo-table  .fourth_table,
#double-table  .fourth_table{
	background-color: #FFB900;
}
*/

#demo-table  .rio_table_01,
#double-table  .rio_table_01{
	background-color: #0c6724;
	margin: 5em;
}


/*for uefa2016*/

#extra{
	display: none;
}



.css-table{
	display: table;
	display: none;
}
.css-table .thead{
	display:table-header-group;
}
.css-table .tbody{
	display:table-row-group;
}
.css-table .tr{
	display:table-row;
}
.css-table .th,
.css-table .td{
	display:table-cell;
}


@media only screen and (max-width: 960px) {
	.hide-column .large{
		display: none;
	}
	.css-table{
		background-color: transparent;
	}
	.css-table .thead{
		display: none;
	}
	.css-table .tr{
		display:block;
		border: #ddd 1px solid;
		margin-bottom: 5px;
		background: #ffffff;
	}
	.css-table .th,
	.css-table .td{
		display:inline-block;
		width: 48%;
		border: none;
	}
}
@media only screen and (max-width: 720px) {
	.hide-column .mobile{
		display: none;
	}

	.scroll-left:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	.scroll-left thead:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	.scroll-left{ width: 100%; border-collapse: collapse; border-spacing: 0; }
	.scroll-left th,
	.scroll-left td { margin: 0; vertical-align: top; }
	.scroll-left th { text-align: left; }
	.scroll-left{ display: block!important; position: relative; width: 100%; }
	.scroll-left thead { display: block; float: left; }
	.scroll-left tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	.scroll-left thead tr { display: block; }
	.scroll-left th { display: block; text-align: right; }
	.scroll-left tbody tr { display: inline-block; vertical-align: top; margin:0px -2px;}
	.scroll-left td { display: block; min-height: 1.25em; text-align: left; }

	/* sort out borders */
	.scroll-left th { border-bottom: 0; border-left: 0; }
	.scroll-left td { border-left: 0; border-right: 0; border-bottom: 0; }
	.scroll-left tbody tr { /*border-left: 1px solid #babcbf;*/ }
	.scroll-left th:last-child,
	.scroll-left td:last-child { border-bottom: 1px solid #babcbf; }


	/* Force table to not be like tables anymore */
	.break-table, .break-table2{
		background-color: transparent !important;  
	}
	.break-table, 
	.break-table2,

	.break-table thead, 
	.break-table2 thead,

	.break-table tbody, 
	.break-table2 tbody,

	.break-table th, 
	.break-table2 th,

	.break-table td, 
	.break-table2 td,

	.break-table tr,
	.break-table2 tr { 
		display: block; 
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.break-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}


	/* Hide table headers (but not display: none;, for accessibility) */
	.break-table2 thead #hide_tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.break-table tr,.break-table2 tr { border: 1px solid #ccc; margin-bottom: 10px; background-color: #ffffff;}

	.break-table td ,.break-table2 td { 
		/* Behave  like a "row" */
		border: none !important;
		border-bottom: 1px solid #eee !important;  
		position: relative;
		padding-left: 55% !important; 
		white-space: normal;
		text-align:left;
	}

	.break-table td:before, .break-table2 td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 30%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
		color: #1a1a1a;
	}

	#demo-table .content_table_td,
	#double-table .content_table_td{

	background-color: #FFFFFF;
	color: #1a1a1a;
}


	.break-table td:before, .break-table2 td:before { content: attr(data-title); }

	.css-table .th,
	.css-table .td{
		display:block;
		width: 100%;
	}



	#extra{
	display: block;
	}
}
@media only screen and (max-width: 480px) {
	.hide-column .small{
		display: none;
	}

}




