@font-face {
  font-family: 'webfonts';
  src:  url('fonts/webfonts.eot?viemz2');
  src:  url('fonts/webfonts.eot?viemz2#iefix') format('embedded-opentype'),
    url('fonts/webfonts.ttf?viemz2') format('truetype'),
    url('fonts/webfonts.woff?viemz2') format('woff'),
    url('fonts/webfonts.svg?viemz2#webfonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'webfonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line .path1:before {
  content: "\e906";
  color: rgb(4, 0, 0);
}
.icon-line .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-line .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-line .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-line .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email-envelope-outline-shape-with-rounded-corners:before {
  content: "\e90b";
}
.icon-browser:before {
  content: "\e900";
}
.icon-daily-newspaper:before {
  content: "\e901";
}
.icon-e-mail-envelope:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e903";
}
.icon-pyramid-chart:before {
  content: "\e904";
}
.icon-world:before {
  content: "\e905";
}

