body { background-color:#333; }
.gold-sand{
	background: #750808;
	font-family: Androgyne;
	background-image: url('../images/gold-sand1.png'), url('../images/gold-sand2.png'), url('../images/gold-sand3.png');
	height: 100%;
	/*left: 0;
	position: absolute;
	top: 0;
	width: 100%;*/
	z-index:1;
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  25% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  50% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  75% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  25% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  50% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  75% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 0px 0px, 0px 0px, 0px 0px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  25% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  50% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  75% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 0px 0px, 0px 0px, 0px 0px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  25% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  50% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  75% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 0px 0px, 0px 0px, 0px 0px;}
}	