@charset "utf-8";
/* CSS Document */
*{
    font-family: 微软雅黑, "Microsoft YaHei", Helvetica, sansation, Verdana, Arial, sans-serif;
    font-size: 16px;
}
body{
    background-image: url('../images/bgTop.png'),url('../images/bgBottom.png'), url('../images/bgCenter.png');
    background-repeat: no-repeat, no-repeat, repeat-y;
    background-position: center top, center bottom, center bottom;
    color: #fff;
    letter-spacing: 1px;
    line-height: 24px;
}
img{
    max-width: 100%;
}
.header{
    background: #7c0d0b;
    display: block;
    padding: 15px 0;
}
.menu {
    float:right;
}
.menu a{
    color: #fff;
    padding: 13px 0;
    display: inline-block;
}
.menu a:hover{
    text-decoration: none;
}
.menu a+a::before{
    content:"|";
    display: inline-block;
    margin: 0 10px;
}
/*----------------------------------------------------------*/
/*/banner*/
/*----------------------------------------------------------*/
.banner .container{
    position: relative;
    height: 900px;
}
.b_rabbit, .b_txt, .b_dice {
    position: absolute;
}
.b_rabbit {
    left: -5% !important;
}
.b_txt {
    left: 36% !important;
    top: 19% !important;
}
.b_dice {
    right: -5% !important;
    top: 11% !important;
    left:inherit !important;
}

/*----------------------------------------------------------*/
/*/content*/
/*----------------------------------------------------------*/
.contentBox{
    padding: 100px 0;
}
.contentBox .container{
    max-width: 990px;
    width: inherit;
}
.contentBox h2{
    font-size: 32px;
    color: #fff000;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom:30px;
}
.contentBox h3{
    color: #fff000;
    position: relative;
}
.contentBox h3 span{
    background-image: url(../images/titleR.png), url(../images/titleC.png);
    background-repeat: no-repeat, repeat-x;
    background-position: right top, center top;
    display: inline-block;
    min-width: 150px;
    padding: 20px 15px 30px 15px;
    margin-bottom: -10px;
    margin-left: 64px;
    font-size: 18px;
}
.contentBox h3::before{
    content:url('../images/titleL.png');
    position: absolute;
    top: 0;
    left: 0;
}
.contentBox .infoTxt{
    margin-left: 50px;
}
.loginBox{
    max-width: 800px;
    margin: 0 auto 100px;
}
.winner, .actinfo, .gameTick{
    margin-bottom: 80px;
}
.playtime, .rewardInfo{
    margin-bottom: 80px;
}
.playtime .mb{
    display: none;
}
.playtime #rwd_table td{
    border-bottom: 1px solid rgba(255,255,255, .3);
}
/*login*/
.loginBox{
    background-color: rgba(31,31,255,0.3);
    border:1px solid #fff;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 40px 15px;
    text-align: center;
}
.input-account{
    max-width: 380px;
    height: 55px;
    margin: 0 auto 15px auto;
    width: 100%;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #b3b3b3 inset;
    color:#666;
}
.submit-btn{
    background: url(../images/submit-btn.png);
    background-position: center 0;
    height: 152px;
    width: 154px;
    display: block;
    text-indent: -9999px;
    margin: 0 auto;
    background-repeat: no-repeat;
}
.submit-btn:focus{
    outline:none;
}
/*actinfo*/
.actinfo{
    background-color: rgba(31,31,255,0.3);
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
    padding:80px 0;
}
.actinfo #rwd_table td{
    background-color: rgba(136,171,218,0.3);
    color: #fff;
    text-align: center;
}

/*rewardInfo*/
.rewardInfo #rwd_table td{
    border:1px solid rgba(255,255,255, .3);
}
/* .rewardInfo #rwd_table th{
    background-color: #7d0000;
    border-color: #7d0000;
}
.rewardInfo #rwd_table td{
    background-color: #333333;
    border:2px solid #7d0000;
}
.rewardInfo p{
    margin: 15px 0 0;
}
.rewardInfo  #rwd_table{
    box-shadow: none;
} */


/*actTxt*/









.login , .game-promotion{
   
    /* padding: 60px 0  120px; */
}
.login h2{
    color: #f8cd0f;
    font-size: 20px;
    font-family: 微软雅黑, "Microsoft YaHei", Helvetica, sansation, Verdana, Arial, sans-serif;
    text-align: center;
    padding:30px 0 ;
}

.login-block{
    /* background: url(../images/login-block.png) no-repeat;
    background-position: center;
    width: 100%;
    max-width: 469px;
    height: 350px;
    margin: 0 auto;
    padding: 100px 0 ; */

}


.input-account{
    /* width: 200px;
    margin: 0 auto; */
}




.submit-btn:active{
    background-position: center 100%;
    outline: none;
}


/*優惠內文*/

.promotion{
}

.content{
    width: 70%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.content h2 {
    color: rgb(255, 255, 0);
    font-size: 16px;
}

.content p{
    /* color: #ccc; */
    /* font-size: 16px; */
}

.betting ,.bonus{
    /* background: rgba(20, 98, 132,.8);
    display: block;
    border-radius: 10px;
    margin: 30px 0;
    -webkit-filter:drop-shadow(5px 5px 5px #000);
    text-align: center;
    padding: 30px 0; */

}

.content .betting ul li{
    color: #ccc;
    font-size: 16px;
    list-style-type: none;
    line-height: 500%;
}


.content .bonus ul{
    max-width: 420px;
    margin: auto;
}
.content .bonus ul li{
    color: #ccc;
    font-size: 16px;
    list-style-type: none;
    line-height: 300%;
    margin: auto;
    align-items: center;
    float: left;
}
.content .bonus ul li img{
    max-width: 200px;
}


/*----------------------------------------------------------*/
/*distribution*/
/*----------------------------------------------------------*/
.distribution{
    background: rgba(20, 98, 132,.8);
    display: block;
    border-radius: 10px;
    -webkit-filter:drop-shadow(5px 5px 5px #000);
    margin: 30px 0;
}

.betting-time{
    background: rgba(20, 98, 132,.8);
    display: block;
    border-radius: 10px;
    margin: 30px 0;
    -webkit-filter:drop-shadow(5px 5px 5px #000);
    text-align: center;
    padding: 30px 0;
}

.betting-time ul li{
    color: #ccc;
    font-size: 16px;
    list-style-type: none;

}

.game-time{
    background: rgba(20, 98, 132,.8);
    display: block;
    border-radius: 10px;
    margin: 30px 0;
    -webkit-filter:drop-shadow(5px 5px 5px #000);
    text-align: center;
    padding: 30px 0;
}

.game-time ul li{
    color: #ccc;
    font-size: 16px;
    list-style-type: none;

}

.sent-time{
    background: rgba(20, 98, 132,.8);
    display: block;
    border-radius: 10px;
    margin: 30px 0;
    -webkit-filter:drop-shadow(5px 5px 5px #000);
    text-align: center;
    padding: 30px 0;
}



/*活動說明*/
.description{
    /* color: #ccc; */
    /* font-size: 16px; */
    list-style-type: decimal;
    margin-left: 20px;
}
.description span{
    color: #b9bbff;
}
.description span.redTxt{
    color: #ff332f;
    font-weight: bold;
}

/*----------------------------------------------------------*/
/*winner-list*/
/*----------------------------------------------------------*/
.winner-list{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}
.winner h2{
    background-image: url(../images/winnertBG.png);
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    padding: 17px 0 45px;
    margin: 10px 0;
}





/*----------------------------------------------------------*/
/*footer*/
/*----------------------------------------------------------*/

footer{
    background:#7c0d0b;
    color: #fff;
    text-align: center;
    padding: 14px 0;
    font-size: 14px;
}


/*----------------------------------------------------------*/
/*浮动按钮*/
/*----------------------------------------------------------*/
.scroll-btn{
    position: fixed;
    bottom:20%;
    right: 30px;
    width: 190px;
    text-align: center;
}

.scroll-btn a{
    display: block;
    /* float: left; */
    background: url(../images/scroll-btn.png) no-repeat;
    background-position: center;
    /* background-size: 50%; */
    width:100%;
    max-width: 143px;
    height: 49px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 2px 2px 1px #000;
    transition: all .3s;
    margin: 0 auto 2px;
}
.scroll-btn a br{
    display: none;
}
.scroll-btn a:hover,.scroll-btn a:active{
    /* color: #ff0; */
    text-decoration: none;
    background: url(../images/scroll-btnH.png) no-repeat;
}

@media screen and (max-width: 1700px) {
    .cloud img{
        position: absolute;
        margin-top: -400px;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .cloud img{
        position: absolute;
        margin-top: -300px;
        width: 100%;
    }
    /*.cloud .cloud-a{left: -20%;}
    .cloud .cloud-b{left: 0%;}
    .cloud .cloud-c{left: 20%;}
    .cloud .cloud-d{left: 40%;}
    .cloud .cloud-e{right: 20%;}
    .cloud .cloud-f{right: 0%;}
    .cloud .cloud-g{left: 10%;}
    .cloud .cloud-h{left: 30%;}
    .cloud .cloud-i{right: 50%;}*/
}

@media screen and (max-width: 992px) {
    .show-float{
        float: left;
    }
    #banner{
       
    }

    .content .bonus ul{
        max-width: 200px;
        margin: auto;
    }

}
@media screen and (max-width: 768px) {
    .scroll-btn{
        background-size: contain;
        position: fixed;
        top:calc(100% - 80px);
        right: 0px;
        width: 100%;
        height: 80px;
       
    }
    .scroll-btn img{
        display: none;
    }
    
    .scroll-btn a{
        float: left;
        width: 25%;
        background: url(../images/scroll-btnM.png) repeat-x;
        display: block;
        max-width: inherit;
        height: 100%;
        border:1px solid #861b1f;
        box-sizing: border-box;
        font-size: 18px;
        padding: 14px 0;

    }
    .scroll-btn a#scroll-a{
        padding-top: 30px;
    }
    .scroll-btn a br{
        display: block;
    }
    .scroll-btn a:hover,.scroll-btn a:active{
        background: url(../images/scroll-btnhM.png) repeat-x;
    }

    .cloud img{
        position: absolute;
        margin-top: -150px;
        width: 100%;

    }
    footer{
        margin-bottom: 80px;
    }

}


@media screen and (max-width: 480px) {
    .content{
        width: 90%;
    }	

    .cloud img{
        position: absolute;
        margin-top: -100px;
        width: 100%;

    }
}