$mainColor:#000;
$secondColor:#f8b22f;
$contentColor:#fff;
$whiteColor:#fff;
$lightpurpleColor:#b2adf4;
$purpleColor:#7971ea;
$darkpurpleColor:#3e4e88;
$darkpurpleColor2:#1a2c5b;
$borderColor:#f67f00;

$titleSize:38px;
$contentSize:16px;

$pc-media:1200px;
$pcs-media:1080px;
$padb-media:930px;
$pad-media:767px;
$phone-media:600px;
$phones-media:450px;
